@use "./_variables" as *;
@use "./_reset";

body {
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-family: var(--system-ui);
  font-weight: 400;
  font-size: 0.6875rem;
  font-style: normal;
  margin: 8px;
}

.percentage-calculator {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  .tabs {
    display: flex;
    flex-direction: row;
    gap: 4px;

    button {
      flex: 1;
      padding: 8px;
      color: var(--figma-color-text-secondary);
      background: var(--figma-color-bg);

      font-size: 0.6875rem;
      font-weight: 500;
      line-height: 1rem;
      letter-spacing: 0.00344rem;
      display: block;
      height: 1.5rem;
      padding: 0;
      cursor: default;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 0.3125rem;
      border: none;
      text-align: center;

      &:hover {
        background: var(--figma-color-bg-secondary);
        color: var(--figma-color-text);
      }

      &.active {
        background: var(--figma-color-bg-secondary);
        color: var(--figma-color-text);
      }
    }
  }

  .tab-content {
    background-color: var(--figma-color-bg);
    border: 1px solid var(--figma-color-border);
    padding: 12px;
    height: 78vh;
    border-radius: 0.3125rem;

    .section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .input-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .input-with-suffix {
          display: flex;
          align-items: center;
          border-radius: 0.3125rem;
          gap: 4px;

          input {
            outline: none;
            width: 100%;
            background: var(--figma-color-bg-secondary);
            color: var(--figma-color-text);
            border: 1px solid transparent;
            font-family: var(--mono-ui);
            padding: 0 6px;
          }

          span {
            padding: 0 8px;
            background-color: var(--figma-color-bg-secondary);
            display: flex;
            height: 1.5rem;
            width: 1.5rem;
            align-items: center;
            border-radius: 0.3125rem;
          }
        }

        input[type="number"] {
          background: var(--figma-color-bg-secondary);
          color: var(--figma-color-text);
          width: 100%;
          height: 1.5rem;
          line-height: 1rem;
          font-size: 0.6875rem;
          font-weight: 450;
          letter-spacing: 0.00344rem;
          line-height: 1rem;
          display: flex;
          align-items: center;
          outline: none;
          border-radius: 0.3125rem;
          border: 1px solid transparent;
          font-family: var(--mono-ui);
          padding: 0 6px;
          -moz-appearance: textfield;


          &:hover {
            border: 1px solid var(--figma-color-border);
            border-color: var(--figma-color-border);
          }

          &:focus {
            border-color: var(--figma-color-bg-brand);
          }

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &::-webkit-inner-spin-button {
            opacity: 1;
            height: 1.5rem;
          }
        }

        button {
          width: 100%;
          background: var(--figma-color-bg-brand);
          color: var(--figma-color-text-onbrand);
          border: none;
          border-radius: 0.3125rem;
          padding: 0 0.75rem;
          height: 2rem;
          cursor: pointer;
          font-weight: 500;
          margin-top: 4px;

          &:hover {
            background: var(--figma-color-bg-brand-hover);
          }

          &:disabled {
            background: var(--figma-color-bg-disabled);
            cursor: not-allowed;
          }
        }
      }

      // Results
      .result {
        font-weight: 550;
        margin-top: 8px;

        div {
          margin-top: 4px;
          font-size: 0.6875rem;
          color: var(--figma-color-text);
        }

        .clear-button {
          width: 4rem;
          height: 1.5rem;
          box-sizing: border-box;
          background-clip: border-box;
          background-color: transparent;
          -webkit-user-select: none;
          border-radius: .3125rem;
          user-select: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: 0;
          padding: 0;
          cursor: default;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;

          &:hover {
            background: var(--figma-color-bg-hover);
          }
        
          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}