@use "./_variables" as *;
@use "./_reset";

// Base styles
body {
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-family: var(--system-ui);
  font-weight: 400;
  font-size: 0.6875rem;
  font-style: normal;
  margin: 8px;
}

// Main container
.percentage-calculator {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  // Tabs
  .tabs {
    display: flex;
    flex-direction: row;
    gap: 4px;

    button {
      flex: 1;
      padding: 8px;
      color: var(--figma-color-text-secondary);
      background: var(--figma-color-bg);

      font-size: 0.6875rem;
      font-weight: 500;
      line-height: 1rem;
      letter-spacing: 0.00344rem;
      display: block;
      height: 1.5rem;
      padding: 0;
      cursor: default;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 0.3125rem;
      border: none;
      text-align: center;

      &:hover {
        background: var(--figma-color-bg-secondary);
        color: var(--figma-color-text);
      }

      &.active {
        background: var(--figma-color-bg-secondary);
        color: var(--figma-color-text);
      }
    }
  }

  // Tab content
  .tab-content {
    background-color: var(--figma-color-bg);
    border: 1px solid var(--figma-color-border);
    padding: 16px;
    height: 78vh;
    border-radius: 0.3125rem;

    // Section
    .section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      // Input group
      .input-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        // Input with suffix
        .input-with-suffix {
          display: flex;
          align-items: center;
          border-radius: 0.3125rem;

          input {
            outline: none;
            width: 100%;
            background: var(--figma-color-bg-secondary);
            color: var(--figma-color-text);
            border: 1px solid transparent;
          }

          span {
            padding: 0 8px;
            background-color: var(--figma-color-bg-secondary);
            border-left: 1px solid var(--figma-color-border);
          }
        }

        input[type="number"] {
          background: var(--figma-color-bg-secondary);
          color: var(--figma-color-text);
          width: 100%;
          height: 1.5rem;
          line-height: 1rem;
          font-size: 0.6875rem;
          font-weight: 450;
          letter-spacing: 0.00344rem;
          line-height: 1rem;
          display: flex;
          align-items: center;
          outline: none;
          border-radius: 0.3125rem;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid var(--figma-color-border);
            border-color: var(--figma-color-border);
          }

          &:focus {
            border-color: var(--figma-color-bg-brand);
          }
        }

        button {
          width: 100%;
          background: var(--figma-color-bg-brand);
          color: var(--figma-color-text-onbrand);
          border: none;
          border-radius: 0.3125rem;
          padding: 0 0.75rem;
          height: 2rem;
          cursor: pointer;
          font-weight: 500;
          margin-top: 4px;

          &:hover {
            background: var(--figma-color-bg-brand-hover);
          }

          &:disabled {
            background: var(--figma-color-bg-disabled);
            cursor: not-allowed;
          }
        }
      }

      // Result section
      .result {
        font-weight: 550;
        margin-top: 8px;

        div {
          margin-top: 4px;
          font-size: 0.6875rem;
          color: var(--figma-color-text);
        }

        // Clear button
        .clear-button {
          margin-top: 8px;
          padding: 8px 16px;
          background-color: var(--figma-color-bg-danger);
          color: var(--figma-color-text-onbrand);
          border: none;
          border-radius: 0.3125rem;
          cursor: pointer;
          font-size: 0.6875rem;
          float: right;

          &:hover {
            background-color: var(--figma-color-bg-danger-hover);
          }
        }
      }
    }
  }
}