/* Replace these styles with your own when building your plugin. */

@use "./_variables" as *;
@use "./_reset";

body {
  font-family: Arial, sans-serif;
  padding: 16px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 80px;
  margin: 0 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

span {
  margin: 0 5px;
}